body{
    background-color: rebeccapurple;
}
main{
    width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 10px;
}
h1{
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid blue;
}
h2{
    border: 2px solid grey;
}
.borde_lista{
     border-style: dotted;
     border-width: 3px;
}
#lista1{
    
   
    border-color: red;
    border-left: none;
    border-right: none;
}
#lista2{


    border-color: green;
}